body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: rgb(50, 50, 50);
}

.container {
    box-shadow: 5px 5px 9px;
    background-color: #6db193;
    padding: 20px;
    margin-right: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

textarea {
    padding: 10px;
    border: 1px solid #333;
    resize: none;
    margin-left: 8px;
    margin-bottom: 10px;
    width: 300px;
}
#cards {
    margin-left: 10px;
}

h3 {
    font-weight: bold;
    color: #333;
    text-align: center;
    transform: skewX(-10deg);
    margin-bottom: 20px;

}

h1 {
    font-weight: bold;
    color: #333;
    padding: 1px;
    transform: skewX(-10deg);
    text-align: center;
}

button {
    margin-left: 8px;
    font-weight: bolder;
    padding: 10px 15px;
    background-color: rgba(255, 180, 180, 0.5);
    cursor: pointer;
    border-radius: 10%;
}

#slide {
    padding: 10px;
    margin: 4px;
    width: 190px;
    word-wrap: break-word;
    background-color: #f4e5c2;
    box-shadow: 2px 2px 5px;
    border-radius: 5px;
    position: relative;
    overflow: auto;
    height: 200px;
    padding-bottom: 30px;
    font-size: 20px;
}

.time-text {
    position: absolute;
    bottom: 3px;
    left: 15px;
    font-size: 0.8em;
    color: gray;
}

.favourite-btn {
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: #ffcc00;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 12px;
}

#slideContainer {
    width: 606px;
    overflow: hidden;
    position: relative;
    padding: 5px;
}

#list {
    display: flex;
    padding: 5px;
    position: relative;
    width: fit-content;
    transition: transform 0.5s ease-in-out;
}

#controls {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 606px;
}

#cards {
    margin: 10px;
    background-color: rgba(41, 95, 78, 0.3);
    display: none;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.3);
}

#fav-head {
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    margin: 30px 0;
}

.fav-card {
    overflow-y: auto;
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #ffd700;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    opacity: 0;
    transition: top 1s ease, opacity 0.5s ease;
    white-space: normal;
    text-align: center;
    font-weight: bold;
}

#fav-head {
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
}

.delete-btn {
    padding: 3px 6px;
    border: none;
    top: 10px;
    right: 10px;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.5);
}